################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Cloud-Chamber-particle-tracking/v15
/.vs
/Cloud-Chamber-particle-tracking.vcxproj.user
/Cloud-Chamber-particle-tracking.vcxproj.filters
/Cloud-Chamber-particle-tracking.vcxproj
/Cloud-Chamber-particle-tracking.sln
